.container__cover{
    width: 100%;
    height: 80vh;
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 40px;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__cover .text{
    max-width: 700px;
    height: 78vh;
    margin: 50px;
    color: #fff;
    overflow: scroll;
    overflow-x: hidden;
}

/* Para el responsive del overflo-y: scroll necesitamos 3 propiedades */
/*Ocultar scroll para Chrome, safari y Opera*/
.container__cover .text::-webkit-scrollbar{
	display: none;
}
/*Ocultar scroll para Chrome, safari y Opera*/
.container__cover .text{
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
    color: var(--main-title);
    border-bottom: 2px solid white;
    
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .svg img{
    width: 400px;
    margin: 50px;
    animation: move-vector 4s linear infinite;
}



@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


/*Haciendo la página Responsive*/



@media screen and (max-width:1200px){

    .container__cover{
        background-position: -100px;
    }


}

@media screen and (max-width: 1020px){

    .container__cover .svg img{
        display: none;
    }

    .container__cover .text{
        max-width: 900px;
        margin: 5px;
        transition: all 500ms;
    }

}

@media screen and (max-width: 650px){

    .container__cover .text{
        margin: 5px;
    }

    app-youtube{
       
    }

}