<footer>
    <div class="container-footer-all">
      <div class="container-body">
        <div class="column1">
          <h2>Ma informacion del proyecto</h2>
          <p>
            Se trata de una apuesta clara por parte de la Fundación por la producción de contenidos audiovisuales directamente para los canales de YouTube y redes sociales con el fin de generar contenido de divulgación de la ciencia allí donde está presente el público joven y adolescente.
          </p>
        </div>
        <div class="column2">
          <h2>Redes sociales</h2>
          <div class="fila">
            <img src="../../../assets/icons/facebook.png">
            <label>Siguenos en Facebook</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/twitter.png">
            <label>Siguenos en Twitter</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/instagram.png">
            <label>Siguenos en Instagram</label>
          </div>
          <div class="fila">
            <img src="../../../assets/icons/youtube.png">
            <label>Siguenos en YouTube Plus</label>
          </div>
        </div>
        <div class="column3">
          <h2>Informacion de contacto</h2>
          <div class="fila2">
            <img src="../../../assets/icons/smartphone.png">
            <label>+52 7227501153</label>
          </div>
          <div class="fila2">
            <img src="../../../assets/icons/contact.png">
            <label>comunicacion@fecyt.es</label>
          </div>
        </div>
      </div>

      
    </div>
    <div class="container-footer">
      <div class="footer">
        <div class="copy">
          © 2022 Todos los derechos resercados | <a href="">EduardoCGarcia</a>
        </div>
        <div class="info">
          <a href="">Privación y Política</a> | <a href="">Terminos y condiciones</a>
        </div>  
      </div>
     
    </div>

    
  </footer>