<header>
    <div class="container__menu">
      <div class="logo">
        <img src="./assets/logoSienceTruck.png" class="logo" />
      </div>
      <div class="menu">
        <i class="fas fa-bars" id="btn_menu" (click)="mostrar_menu()"></i>
        <div id="back_menu"  (click)="ocultar_menu()"></div>
        <nav id="nav">
          <div class="logo__menu">
            <img src="./assets/logoSienceTruck.png" />
          </div>
          
          <ul>
            <li><a href="#" routerLink="home" id="selected">inicio</a></li>
            <li><a href="#" routerLink="divulgadores">divulgadores</a></li>
            <li><a href="#" routerLink="cientificos">Científicos</a></li>
            <li><a href="#" routerLink="entretenimiento">entretenimiento</a></li>
            <li><a href="#" routerLink="sabias-que">¿Sabías qué?</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>