<main>
  <div class="container__cover">
    <div class="cover">
      <div class="text">
        <h1>SCIENCE TRUCK</h1>
        <p>
          El programa de divulgación científica de la Fundación Española para la
          Ciencia y la Tecnología (FECYT), tiene como objetivo acercar la
          ciencia de manera entretenida a los más jóvenes despertando su
          curiosidad y estimulando su pensamiento crítico.
        </p>

        <input type="button" value="Leer Más" />
      </div>

      <div class="svg">
        <img src="../../assets/logoSienceTruck3.png" />
      </div>
    </div>
  </div>
</main>
